user-dir/flow.json
[{"id":"0f3c4b3c221416c8","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"f8478d4d4994581f","type":"inject","z":"0f3c4b3c221416c8","name":"","props":[{"p":"payload"},{"p":"topic","v":"time","vt":"global"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":140,"wires":[["4357e118ee5704b7"]]},{"id":"f26cc8a678f1f9c6","type":"debug","z":"0f3c4b3c221416c8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":600,"y":260,"wires":[]},{"id":"4357e118ee5704b7","type":"function","z":"0f3c4b3c221416c8","name":"","func":"\nreturn {payload: new Date(msg.payload).getSeconds()};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":240,"wires":[["f26cc8a678f1f9c6","e11f0a4cdedbc555"]],"info":"This is the best function!"},{"id":"e11f0a4cdedbc555","type":"file","z":"0f3c4b3c221416c8","name":"","filename":"/tmp/node-red-output","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":480,"y":340,"wires":[[]]}]